.rspec
.env
.rvmrc

/spec/dummy/log
/spec/dummy/tmp
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/public/system
/spec/dummy/coverage
/spec/dummy/config/initializers/secret_token.rb
/spec/dummy/config/secrets.yml
/spec/tmp

**.orig
rerun.txt
